---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  icon?: string;
}

const { href, variant = 'primary', icon } = Astro.props;

import Icon from './Icon.astro';
---

<a
  href={href}
  class="inline-flex items-center gap-2 px-6 py-3 rounded-xl font-medium transition-all duration-300 border border-primary/50 bg-primary/10 hover:bg-primary/20 text-primary hover:border-primary hover:scale-105 hover:shadow-lg hover:shadow-primary/20 backdrop-blur-sm"
>
  {icon && <Icon name={icon} class="w-5 h-5" />}
  <slot />
</a>