---
import { siteConfig } from '../../config/links';

const { currentLocale = 'en' } = Astro;
---

<footer class="text-center text-white/60 text-sm">
  <p>{siteConfig.footer[currentLocale]}</p>
</footer>