---
---

<div class="fixed inset-0 -z-10">
  <div class="absolute inset-0 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(255,87,34,0.3),rgba(33,150,243,0.15),rgba(0,0,0,0))]"></div>
  <div class="absolute inset-0 bg-[radial-gradient(ellipse_80%_80%_at_50%_120%,rgba(33,150,243,0.15),rgba(255,87,34,0.1),rgba(0,0,0,0))]"></div>
</div>