---
interface Props {
  title: string;
  url: string;
  icon?: string;
}

const { title, url, icon } = Astro.props;

import Icon from './Icon.astro';
---

<a
  href={url}
  class:list={[
    'group flex items-center gap-3 w-full p-4 mb-4 rounded-xl border transition-all duration-300 text-center font-medium backdrop-blur-sm relative overflow-hidden',
    'border-primary/50 bg-primary/5 hover:bg-primary/10 text-primary hover:border-primary hover:scale-[1.02] hover:shadow-lg hover:shadow-primary/20'
  ]}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="absolute inset-0 -translate-x-[100%] bg-gradient-to-r from-transparent via-white/5 to-transparent transition-transform duration-500 group-hover:translate-x-[100%]"></div>
  {icon && <Icon name={icon} class="h-6 w-6 flex-shrink-0" />}
  <span class="flex-1">{title}</span>
</a>
