---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import LinksList from '../components/home/LinksList.astro';
import Footer from '../components/shared/Footer.astro';

const locale = 'en';
---

<Layout title="Manuel Gil - Software Developer & Open Source Advocate">
  <main class="mx-auto max-w-2xl px-4 py-16">
    <Hero />
    <LinksList />
    <Footer />
  </main>
</Layout>
