---
import { siteConfig } from '../../config/links';
import Avatar from '../shared/Avatar.astro';
import Button from '../shared/Button.astro';

const { currentLocale = 'en' } = Astro;
---

<div class="mb-12 text-center">
  <Avatar
    src="https://avatars.githubusercontent.com/u/25472045"
    alt="Manuel Gil"
  />
  <h1 class="mb-4 animate-gradient bg-gradient-to-r from-primary via-primary/80 to-primary bg-clip-text text-5xl font-bold text-transparent">
    {siteConfig.title[currentLocale]}
  </h1>
  <p class="mb-8 text-xl text-white/80">
    {siteConfig.description[currentLocale]}
  </p>
  <div class="mb-12 flex flex-wrap justify-center gap-4">
    <Button href="https://github.com/sponsors/ManuelGil" icon="sponsor">
      {currentLocale === 'en' ? 'Sponsor on GitHub' : 'Patrocinar en GitHub'}
    </Button>
    <Button href="https://paypal.me/ManuelFGil">
      {currentLocale === 'en' ? 'Donate with PayPal' : 'Donar con PayPal'}
    </Button>
  </div>
</div>
