---
const { currentLocale } = Astro;
---

<div class="fixed top-4 right-4 flex gap-2 backdrop-blur-md rounded-xl border border-white/10 p-1.5 shadow-lg">
  <a
    href="/"
    class:list={[
      'px-3 py-1.5 rounded-lg transition-all duration-300',
      currentLocale === 'en'
        ? 'bg-primary/20 text-primary shadow-sm'
        : 'text-white/60 hover:text-white hover:bg-white/5'
    ]}
  >
    EN
  </a>
  <a
    href="/es"
    class:list={[
      'px-3 py-1.5 rounded-lg transition-all duration-300',
      currentLocale === 'es'
        ? 'bg-primary/20 text-primary shadow-sm'
        : 'text-white/60 hover:text-white hover:bg-white/5'
    ]}
  >
    ES
  </a>
</div>