---
import '@fontsource/inter';
import { ViewTransitions } from 'astro:transitions';
import GradientBackground from '../components/shared/GradientBackground.astro';
import LanguagePicker from '../components/shared/LanguagePicker.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#30E130" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <meta name="description" content="Indie Maker, Software Developer, and Open Source Advocate. I build developer tools, VS Code extensions, and open-source projects that empower developers.">
    <meta name="keywords" content="Manuel Gil, Software Developer, Indie Maker, Open Source, VS Code Extensions, Developer Tools, JavaScript, TypeScript, Angular, NestJS, GitHub, JSON Flow, Auto Barrel">
    <meta name="author" content="Manuel Gil">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Manuel Gil | Software Developer & Open Source Advocate">
    <meta property="og:description" content="I build developer tools, VS Code extensions, and open-source projects that empower developers.">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/25472045">
    <meta property="og:url" content="https://manuelgil.dev">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Manuel Gil Portfolio">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Manuel Gil | Software Developer & Open Source Advocate">
    <meta name="twitter:description" content="I build developer tools, VS Code extensions, and open-source projects that empower developers.">
    <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/25472045">
    <meta name="twitter:site" content="@imgildev">

    <link rel="mask-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Manuel Gil",
      "url": "https://manuelgil.dev",
      "image": "https://avatars.githubusercontent.com/u/25472045",
      "jobTitle": "Software Developer",
      "sameAs": [
        "https://www.linkedin.com/in/imgildev",
        "https://github.com/ManuelGil",
        "https://twitch.tv/imgildev",
        "https://youtube.com/@imgildev",
        "https://twitter.com/imgildev"
      ]
    }
    </script>

    <link rel="canonical" href="https://manuelgil.dev/" />

    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-dark text-white">
    <GradientBackground />
    <LanguagePicker />
    <slot />
  </body>
</html>
